pic.png
README.md
migrations/README
LICENSE
.vscode
.env-dev
.venv

# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
