<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Priscilla Custom Effects</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/main/about.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/main/icons.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/additional.css') }}"
    />
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico" />
  </head>

  <body>
    <header>
      <div class="menu-container">
        <nav>
          <ul>
            <li>
              <a href="/"><span class="icon" data-icon="home"></span></a>
            </li>
            <li>
              <a href="blog"><span class="icon" data-icon="blog"></span>Blog</a>
            </li>
            <li>
              <a href="custom"
                ><span class="icon" data-icon="custom"></span>Custom</a
              >
            </li>
            <li>
              <a href="mods"><span class="icon" data-icon="mods"></span>Mods</a>
            </li>
            <li>
              <a href="artists"
                ><span class="icon" data-icon="artists"></span>Artists</a
              >
            </li>
            <li>
              <a href="faq"><span class="icon" data-icon="faq"></span>F.A.Q.</a>
            </li>
            <li>
              <a href="about"
                ><span class="icon" data-icon="about"></span>About</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="info">
        <table>
          <tr>
            <th>Полное наименование</th>
            <th>ИП Колесов Арсений Дмитриевич</th>
          </tr>
          <tr>
            <td>ОГРНИП</td>
            <td>324723200015923</td>
          </tr>
          <tr>
            <td>ИНН</td>
            <td>890306202170</td>
          </tr>
          <tr>
            <td>ОКВЭД</td>
            <td><b>32.20</b> 47.91.2 58.21 58.29 62.01 63.11.1 63.12</td>
          </tr>
          <tr>
            <td>Расчётный счёт</td>
            <td>
              <b>40802810400006021068</b>
            </td>
          </tr>
          <tr>
            <td>БИК банка</td>
            <td>
              <a href="https://www.tbank.ru" target="_blank">
                <img src="/static/img/wallets/t-bank.svg" alt="T-Bank" /> </a
              ><br /><b>044525974</b>
            </td>
          </tr>
          <tr>
            <td>Корреспондентский счёт</td>
            <td><b>30101810145250000974</b></td>
          </tr>
          <tr>
            <td>Криптовалютные кошельки</td>
            <td>
              <div class="wallet-info">
                <a href="https://ton.org/ru/toncoin" target="_blank">
                  <img src="/static/img/wallets/ton.svg" alt="TON" /> </a
                ><br />
                <b>UQB44yodNzTEwrPnkzIAIeRo2D3Q3AHQIdaeW1gUwZVk_qXt</b>
              </div>
              <div class="wallet-info">
                <a href="https://bitcoin.org" target="_blank">
                  <img
                    src="/static/img/wallets/bitcoin.svg"
                    alt="Bitcoin"
                  /> </a
                ><br />
                <b>17QqMUTyEWnU4aogKuXDTANbuT3iJPo9zx</b>
              </div>
              <div class="wallet-info">
                <a href="https://tether.to" target="_blank">
                  <img src="/static/img/wallets/tether.svg" alt="Tether" /> </a
                >(TON/USDT):<br />
                <b> UQCGAg4z7YMbwkbVm25Gaq8OXDCYkiNQU2xg9k5BILfPG48H</b>
              </div>
            </td>
          </tr>
        </table>

        <a href="https://t.me/priscilla_ef/10" target="_blank">
          <img src="/static/img/sns/tg-logo.svg" alt="Telegram" />
        </a>

        <a href="https://vk.com/priscilla_ef" target="_blank">
          <img src="/static/img/sns/vk-logo.svg" alt="VK" />
        </a>

        <a href="https://www.instagram.com/masajinobe/" target="_blank">
          <img src="/static/img/sns/inst-logo.svg" alt="Instagram" />
        </a>

        <a href="https://twitter.com/priscilla_eF" target="_blank">
          <img src="/static/img/sns/x-logo.svg" alt="Twitter" />
        </a>

        <a href="https://boosty.to/priscilla-custom-effects" target="_blank">
          <img src="/static/img/sns/boosty-logo.svg" alt="Boosty" />
        </a>

        <a
          href="https://www.youtube.com/channel/UCVJiYZ7oiHdBnkkOoSrse3Q"
          target="_blank"
        >
          <img src="/static/img/sns/yt-logo.svg" alt="VK" />
        </a>

        <a href="https://github.com/Priscilla-Custom-Effects" target="_blank">
          <img src="/static/img/sns/git-logo.svg" alt="Github" />
        </a>
      </div>
    </main>

    <footer>
      <p>
        Pedals... or something like this🌌<br />
        ・Custom Effects ・Modifications ・Hi-End Musical Accessories ・Resale
      </p>
    </footer>
  </body>
</html>
