<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Priscilla Custom Effects</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/main/artists.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/main/icons.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/additional.css') }}"
    />
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico" />
  </head>

  <body>
    <header>
      <div class="menu-container">
        <nav>
          <ul>
            <li>
              <a href="/"><span class="icon" data-icon="home"></span></a>
            </li>
            <li>
              <a href="blog"><span class="icon" data-icon="blog"></span>Blog</a>
            </li>
            <li>
              <a href="custom"
                ><span class="icon" data-icon="custom"></span>Custom</a
              >
            </li>
            <li>
              <a href="mods"><span class="icon" data-icon="mods"></span>Mods</a>
            </li>
            <li>
              <a href="artists"
                ><span class="icon" data-icon="artists"></span>Artists</a
              >
            </li>
            <li>
              <a href="faq"><span class="icon" data-icon="faq"></span>F.A.Q.</a>
            </li>
            <li>
              <a href="about"
                ><span class="icon" data-icon="about"></span>About</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="info">
        <ul>
          {% if not artists %}
          <li>No artists found</li>
          {% else %} {% for artist in artists %}
          <li>
            <a href="{{ artist.link }}">
              <img
                src="{{ url_for('static', path=artist.image_url) }}"
                width="250"
                alt="{{ artist.id }}"
              />
            </a>
            <p>{{ artist.full_name }}</p>
            <a
              style="
                text-decoration: none;
                color: white;
                background-color: purple;
              "
              href="{{ artist.link }}"
              >{{ artist.band }}</a
            >
            {% if artist.band %} {% endif %}
          </li>
          {% endfor %} {% endif %}
        </ul>
      </div>
    </main>

    <footer>
      <p>
        Pedals... or something like this🌌<br />
        ・Custom Effects ・Modifications ・Hi-End Musical Accessories ・Resale
      </p>
    </footer>
  </body>
</html>
