<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Priscilla Custom Effects</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/main/faq.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/main/icons.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/additional.css') }}"
    />
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico" />
  </head>

  <body>
    <header>
      <div class="menu-container">
        <nav>
          <ul>
            <li>
              <a href="/"><span class="icon" data-icon="home"></span></a>
            </li>
            <li>
              <a href="blog"><span class="icon" data-icon="blog"></span>Blog</a>
            </li>
            <li>
              <a href="custom"
                ><span class="icon" data-icon="custom"></span>Custom</a
              >
            </li>
            <li>
              <a href="mods"><span class="icon" data-icon="mods"></span>Mods</a>
            </li>
            <li>
              <a href="artists"
                ><span class="icon" data-icon="artists"></span>Artists</a
              >
            </li>
            <li>
              <a href="faq"><span class="icon" data-icon="faq"></span>F.A.Q.</a>
            </li>
            <li>
              <a href="about"
                ><span class="icon" data-icon="about"></span>About</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="info">
        <h2>1. На чем специализируется Priscilla Custom Effects?</h2>
        <p>
          Priscilla Custom Effects является компанией, которая занимается
          моддингом, проектированием и производством уникальных печатных плат
          для музыкального оборудования. В деятельность компании также входит
          разработка программного обеспечения.
        </p>

        <h2>2. Какие виды продукции вы изготавливаете?</h2>
        <p>
          Мы создаем различные типы электронного оборудования, включая гитарные
          педали, процессоры звуковых эффектов, микрофоны и другие инструменты
          для музыкантов. Также предоставляем услуги по модификации и ремонту.
        </p>

        <h2>3. Что такое модификация гитарной педали?</h2>
        <p>
          Это процесс изменения её электронной схемы для достижения желаемого
          звука. Это может включать в себя замену компонентов, добавление новых
          функций и изменению её спецификации.
        </p>

        <h2>4. Какого качества оборудование вы производите?</h2>
        <p>
          Все наши продукты изготавливаются вручную с последующим контролем
          качества.
        </p>

        <h2>5. Как приобрести вашу продукцию?</h2>
        <p>Достаточно связаться с нами любым удобным способом.</p>

        <h2>6. Какими службами доставки вы доставляете?</h2>
        <p>CDEK как основная служба, доступны также Почта России и Boxberry.</p>

        <h2>7. Осуществляете ли доставку заграницу?</h2>
        <p>Нет, пока не планируем.</p>
      </div>
    </main>

    <footer>
      <p>
        Pedals... or something like this🌌<br />
        ・Custom Effects ・Modifications ・Hi-End Musical Accessories ・Resale
      </p>
    </footer>
  </body>
</html>
