body {
  font-family: JetBrainsMono;
  font-size: 1.4em;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

header {
  background-color: #422777;
  color: #fff;
  padding: 10px;
}

.icon[data-icon] {
  background-position: center;
  filter: invert(1);
}

nav {
  text-align: center;
  padding: 10px;

  ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 10px;
    display: flex;
  }

  li {
    margin: 0 10px;
  }

  a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
  }

  a:hover {
    background-color: #fff;
    color: #000;
  }
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lavender;
  padding: 20px;
}

.info {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  a {
    text-decoration: none;
    color: initial;

    img {
      width: 5%;
      margin: 10px;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  th,
  td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }
}

footer {
  background-color: #422777;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
