body {
  font-family: JetBrainsMono;
  font-size: 2em;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  text-shadow: 4px 4px 4px #000;
}

.logo {
  width: 256px;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.icon[data-icon] {
  background-position: center;
  filter: invert(0);
}

nav {
  text-align: right;
  padding: 20px;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 20px;

      a {
        text-decoration: none;
        color: white;
        font-size: 1.4em;
        text-shadow: 4px 4px 4px #000;

        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 20px;
  text-shadow: 4px 4px 4px #000;
}
