<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Priscilla Custom Effects</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/admin/login.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/additional.css') }}"
    />
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico" />
  </head>

  <body>
    <header></header>

    <main>
      <div class="info">
        <img src="/static/img/goofy.jpg" alt="logo" class="logo" />
        <h1>admin?</h1>
        <form action="/admin" method="post">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
          <button type="submit">Войти</button>
        </form>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
