<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Priscilla Custom Effects</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/about.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/mobile-adaptive.css') }}"
    />
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="index">Blog</a></li>
          <li><a href="custom">Custom</a></li>
          <li><a href="mods">Mods</a></li>
          <li><a href="faq">F.A.Q.</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="info">
        <table>
          <tr>
            <th>Полное наименование</th>
            <th>ИП Колесов Арсений Дмитриевич</th>
          </tr>
          <tr>
            <td>ОГРНИП</td>
            <td>324723200015923</td>
          </tr>
          <tr>
            <td>ИНН</td>
            <td>890306202170</td>
          </tr>
          <tr>
            <td>ОКВЭД</td>
            <td><b>32.20</b> 47.91.2 58.21 58.29 62.01 63.11.1 63.12</td>
          </tr>
          <tr>
            <td>Расчётный счёт</td>
            <td>40802810400006021068</td>
          </tr>
          <tr>
            <td>БИК банка</td>
            <td>044525974</td>
          </tr>
          <tr>
            <td>Корреспондентский счёт</td>
            <td>30101810145250000974</td>
          </tr>
        </table>

        <!-- Ссылка на Telegram -->
        <a href="https://t.me/priscilla_ef/10" target="_blank">
          <img src="/static/img/sns/tg-logo.svg" alt="Telegram" />
        </a>

        <!-- Ссылка на VK -->
        <a href="https://vk.com/priscilla_ef" target="_blank">
          <img src="/static/img/sns/vk-logo.svg" alt="VK" />
        </a>

        <!-- Ссылка на Instagram -->
        <a href="https://www.instagram.com/masajinobe/" target="_blank">
          <img src="/static/img/sns/inst-logo.svg" alt="Instagram" />
        </a>

        <!-- Ссылка на Twitter -->
        <a href="https://twitter.com/priscilla_eF" target="_blank">
          <img src="/static/img/sns/x-logo.svg" alt="Twitter" />
        </a>

        <!-- Ссылка на Boosty -->
        <a href="https://boosty.to/priscilla-custom-effects" target="_blank">
          <img src="/static/img/sns/boosty-logo.svg" alt="Boosty" />
        </a>

        <!-- Ссылка на Youtube -->
        <a
          href="https://www.youtube.com/channel/UCVJiYZ7oiHdBnkkOoSrse3Q"
          target="_blank"
        >
          <img src="/static/img/sns/yt-logo.svg" alt="VK" />
        </a>

        <!-- Ссылка на GitHub -->
        <a href="https://github.com/Priscilla-Custom-Effects" target="_blank">
          <img src="/static/img/sns/git-logo.svg" alt="Github" />
        </a>
      </div>
    </main>

    <footer>
      <p>
        Pedals... or something like this🌌<br />
        ・Custom Effects ・Modifications ・Hi-End Musical Accessories ・Resale
      </p>
    </footer>
  </body>
</html>
